<p>Soy el formulario</p>
<div class="card">
    <div class="card-body">
        <form>
            <div class="row">
                <div class="col-lg-6">
                    <label for="txtMatricula" class="form-label">Matrícula</label>
                    <input type="text" id="txtMatricula" name="matricula" class="form-control">
                </div>
                <div class="col-lg-6">
                    <label for="txtNombre" class="form-label">Nombre</label>
                    <input type="text" id="txtNombre" name="nombre" class="form-control">
                </div>
            </div>
        </form>
    </div>
</div>